@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Search Styles by IBU</h2>

<form method="post" action="/home/searchstyleibu">
    IBU: <input type="number" name="ibu" />
    <input type="submit" />
</form>

<h2>Search Styles by Name</h2>

<form>

</form>

<h2>Search Hops by Country</h2>

<form>

</form>