
@{
    ViewData["Title"] = "GetAge";
}

<h1>GetAge</h1>

<form method="post" action="Result">
    Age: <input type="number" name="Age" /><br />
    Name: <input type="text" name="UserName" /><br />
    <input type="submit" />
</form>
