
@{
    ViewData["Title"] = "FormResponse";
    DateTime current = DateTime.Now;
    string message = $"The current date/time is {current}!";
}

<h1>Welcome!</h1>

Welcome @ViewBag.first @ViewBag.last<br /><br />
@message
<br /><br />


