
@{
    ViewData["Title"] = "GetForm";
}

<h1>GetForm</h1>

<form method="post" action="/home/formresponse">
    First Name <input type="text" name="first" /><br />
    Last Name <input type="text" name="last" /><br />
    Password <input type="password" name="pword" /><br />
    <input type="submit" value="login" />

</form>
