
@{
    ViewData["Title"] = "AddProductForm";
}

<h1>Enter a New Product</h1>

<form method="post" action="/shop/addproduct">
    id: <input type="text" name="id" /><br />
    Name: <input type="text" name="Name" /><br />
    Price: <input type="text" name="Price" /><br />
    <input type="submit" value="Save" />
</form>
